# compiled binaries
/bin/

# tools
/hack/tools/

# local kcp state
.kcp/

# ocm build output
/transport-archive/

# ui
ui/node_modules/
ui/dist/
ui/playwright-report/
ui/test-results/
ui/.playwright/

# editor / os
*.swp
.DS_Store
